<nav>
        <form action="" method='get'>
        <input type="submit" value="Home">
        </form>

        <form action="/WorkforceManagement/employees" method='get'>
        <input type="submit" value="Employees">
        </form>

        <form action="/WorkforceManagement/departments" method='get'>
        <input type="submit" value="Departments">
        </form>

        <form action="/WorkforceManagement/computers" method='get'>
        <input type="submit" value="Computers">
        </form>

        <form action="/WorkforceManagement/training_programs" method='get'>
        <input type="submit" value="Training Programs">
        </form>
</nav>